In [4]:
import pandas as pd

# Load the data into a DataFrame
data = {
    'S.No': [1, 2, 3, 4, 5],
    'Names': ['Alpha', 'Beta', 'Gamma', 'Charlie', 'Delta'],
    'Marks': [46, 78, 92, 36, 50]
}

df = pd.DataFrame(data)
df

   S.No    Names  Marks
0     1    Alpha     46
1     2     Beta     78
2     3    Gamma     92
3     4  Charlie     36
4     5    Delta     50

In [5]:
# Create a new column 'Marks Cohort' based on the conditions
df['Marks Cohort'] = df['Marks'].apply(lambda x: 'Less than 50' if x < 50 else 'Equal to 50' if x == 50 else 'Greater than 50')
df

   S.No    Names  Marks     Marks Cohort
0     1    Alpha     46     Less than 50
1     2     Beta     78  Greater than 50
2     3    Gamma     92  Greater than 50
3     4  Charlie     36     Less than 50
4     5    Delta     50      Equal to 50

In [7]:
# Segregate the data based on the Cohort
less_than_50 = df[df['Marks Cohort'] == 'Less than 50']
equal_to_50 = df[df['Marks Cohort'] == 'Equal to 50']
greater_than_50 = df[df['Marks Cohort'] == 'Greater than 50']

In [8]:
print("Less than 50:\n", less_than_50)
print("\nEqual to 50:\n", equal_to_50)
print("\nGreater than 50:\n", greater_than_50)

Less than 50:
    S.No    Names  Marks  Marks Cohort
0     1    Alpha     46  Less than 50
3     4  Charlie     36  Less than 50

Equal to 50:
    S.No  Names  Marks Marks Cohort
4     5  Delta     50  Equal to 50

Greater than 50:
    S.No  Names  Marks     Marks Cohort
1     2   Beta     78  Greater than 50
2     3  Gamma     92  Greater than 50